@import url("base.css");
@font-face {
    font-family: 'iconfont';  /* project id 506428 */
    src: url('http://at.alicdn.com/t/font_506428_z46zxk8c3tvgqfr.eot');
    src: url('http://at.alicdn.com/t/font_506428_z46zxk8c3tvgqfr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_506428_z46zxk8c3tvgqfr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_506428_z46zxk8c3tvgqfr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_506428_z46zxk8c3tvgqfr.svg#iconfont') format('svg');
}
#menu {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 30px;
   background: rgba(0, 0, 0, 0.4);
    z-index:9999999;
}


#menu ul {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#menu li{
    width:auto;
    padding:0 25px;

}
#menu li.active{
    background:pink;
}
#menu a{
    color:#fff;
    font-size:16px;
    line-height:50px;
    text-align: center;
}
.section{
    position:relative;
}
.section .img{
    width:100%;
    height:100%;
    background: url("../img/slide3.jpg") center/cover;
}
.section .zhezhao{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    z-index: 9;
}
.lhx{
    position: absolute;
    top:250px;
    left:550px;
    z-index: 99;
    color:#fff;
    font-size: 56px;
    transition: all 2s;
}
@keyframes lhx {
    0%{
        opacity: 0;
    }
    60%{
        opacity:0.5;
    }
    100%{
        opacity: 1;
    }

}
canvas{
    transition: all 1s;
}
.jintu{
    display: block;
    animation: lhx 2s;
}
.jianjie{
    position:absolute;
    top:350px;
    left:300px;
    text-align: center;
    line-height: 35px;
    color:#fff;
    z-index: 99;
    font-size:20px ;
    transition: all 1s;
}
/*技能*/
.box{
    width: 1200px;
    height:300px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    z-index: 99999;
}
canvas{
    z-index: 99999;
}
.beijing{
    width:100%;
    height:100%;
    background: url("../img/slide2.jpg") center/cover;
    padding-top:100px;
    box-sizing: border-box;
}
/* banner开始 */
.banner{

    height: 100%;
    position: relative;
}
.ban-img{
    height: 100%;
}
.ban-img li{
   
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 3s;
}
.wenzi{
    position: absolute;
    top: 500px;
    right: 200px;
    font-weight: bold;
    z-index: 99999999;
    font-size:26px;
    color: #333;
}
.wenzi1{
   position: absolute;
    top: 200px;
    right: 200px;
    font-weight: bold;
    z-index: 99999999;
    font-size:26px;
    color: #333; 
}
.wenzi2{
   position: absolute;
    top: 200px;
    left: 200px;
    font-weight: bold;
    z-index: 99999999;
    font-size:26px;
    color: #333; 
}
.ban-img li.active{
    opacity: 1;
    z-index: 1;
}
.ban-img li img{
    width: 100%;
}
.circle{
    width: 78px;
    height: 18px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
}
.circle ul{
    width: 78px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}
.circle ul li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}
.circle ul li.active{
    background: #fdcc05;
}
.circle ul li:hover{
    background: #fdcc05;
}
.left{
    width: 40px;
    height: 76px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    line-height: 76px;
    text-align: center;
    opacity: 0;
    transition: 1s;
    z-index: 3;
    cursor: pointer;
}

.right{
    width: 40px;
    height: 76px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    line-height: 76px;
    text-align: center;
    opacity: 0;
    transition: 1s;
    z-index: 3;
    cursor: pointer;
}
.banner:hover .left{
    opacity: 1;
}
.banner:hover .right{
    opacity: 1;
}
/*项目*/
.bj-img{
    width:100%;
    height:100%;
    background: url("../img/bg.jpg") center/cover;
}
.scene{
    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    width:1000px;
    height:600px;
    perspective: 1000px;
    transform-style: preserve-3d ;
    z-index: 999;
    transition: all 1s;
}
.scene ul{
    list-style: none;
    width: 500px;
    height:300px;
    margin:180px 250px;
    position: relative;
    transform-style: preserve-3d ;
    transform-origin:center center -553px ;
    transition: all 1s;


}
.scene ul li{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height:500px;
    transform-origin:center center -553px ;
    transition: all 1s;
}
.scene ul li:hover{
    transform: translateY(-30px);
    box-shadow: 0 0 50px rgba(255,255,255,0.5);
}
.scene ul li:nth-child(1){
    transform: rotateY(60deg);
}
.scene ul li:nth-child(2){
    background: #fff;
    transform: rotateY(120deg);

}
.scene ul li:nth-child(3){
    background: #ff6700;
    transform: rotateY(180deg);


}
.scene ul li:nth-child(4){
    background: #fff;
    transform: rotateY(240deg);


}
.scene ul li:nth-child(5){
    transform: rotateY(300deg);


}
.scene ul li:nth-child(6){
    background: red;

}
.next,.prev{
    width:50px;
    height:50px;
    background: rgba(136,120,148,0.4);
    text-align: center;
    line-height: 50px;
    border-radius:50%;
    position:absolute;
    top:320px;
    color:#fff;
    font-size:36px;
    cursor:pointer;
    transition: all 1s;

}
.next{
    right:0px;
}
.prev{
    left:0px;
}
.scene ul li:nth-child(1) .img-box{
    width:100%;
    height:100%;
    background: url("../img/mi.jpg" )center center no-repeat;
}
.scene ul li:nth-child(2) .img-box{
    width:100%;
    height:100%;
    background: url("../img/logo.gif" )center center no-repeat;
}
.scene ul li:nth-child(3) .img-box{
    width:100%;
    height:100%;
    background: url("../img/yidong1.jpg" )center center no-repeat;
}
.scene ul li:nth-child(4) .img-box{
    width:100%;
    height:100%;
    background: url("../img/wm.jpg" )center center no-repeat;
}
.scene ul li:nth-child(5) .img-box{
    width:100%;
    height:100%;
    background: url("../img/gyy.jpg" )center center no-repeat;
}
.scene ul li:nth-child(6) .img-box{
    width:100%;
    height:100%;
    background: url("../img/qiye.jpg" )center center no-repeat;
}
.xingmu-zz{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    transition: all 1s;
    opacity: 0;
}
.xiangqing{
    width:250px;
    height:100px;
    background: rgba(255,192,203,.5);
    border-radius: 20px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    color:#333;
    cursor: pointer;
    display: block;
    transition: all 1s;
}
.scene ul li:hover .xingmu-zz{
    opacity: 1;
}
.scene ul li:hover .xiangqing{
    transform: rotateY(360deg);
}
/*work*/
.pic{
    display: flex;
    justify-content: space-around;
}
.bj{
    width:100%;
    height:100%;
    background: url("../img/slide1.jpg") center/cover;
}
.first{
    width:250px;
    height:400px;
    background: url("../img/w5.jpg") center/cover;
    position:absolute;
    top:100px;
    left:50px;
    transition: all 2s;
    z-index: 999;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.er{
    width: 250px;
    height:400px;
    background: url("../img/w2.jpg") center/cover;
    position:absolute;
    top:150px;
    left:380px;
    transition: all 1.5s;
    z-index: 999;
     font-size: 18px;
    line-height: 40px;
    text-align: center;

}
.section{
    overflow: hidden;
}
.three{
    width:250px;
    height:400px;
    transition: all 1s;
    z-index: 999;

    background: url("../img/w3.jpg") center/cover;
    position:absolute;
    top:200px;
    left:730px;
     font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.four{
    width:250px;
    transition: all .5s;
    z-index: 999;
    height:400px;
    background: url("../img/w4.jpg") center/cover;
    position:absolute;
    top:250px;
    right:50px;
     font-size: 18px;
    line-height: 40px;
    text-align: center;

}
/*联系我*/
.contact-box{
    width: 1200px;
    height:auto;
    margin:0 auto;
}
.contact{
    padding: 120px 0;
    background: #f3f3f4;
    width: 100%;
    height:600px;
}
.about-head h1 {
    text-align: center;
    font-size: 36px;
}
.about-head p{
    text-align: center;
    font-size: 16px;
    padding-bottom:30px;
}
.biaodan{
    height: 363px;
    width:50%;
    float: left;
    overflow: hidden;
}
.name{
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #E4E7E9;
    padding: 0 15px;
    box-sizing: border-box;
    color: #C2C5D3;
    margin-bottom: 15px;
}
.name:focus{
    outline: none;
}
#wenbwnyu{
    width: 100%;
    height: 166px;
    resize: vertical;
    border-radius: 5px;
    border: none;
    border: 1px solid #E4E7E9;
    padding: 0 15px;
    box-sizing: border-box;
    color: #C2C5D3;
    margin-bottom: 15px;

}
#wenbwnyu:focus{
    outline: none;
}
.submit{
    width: 125px;
    height: 45px;
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-bottom: 15px;
}
.submit:focus{
    outline: none;
}
.xinxi{
    height: 363px;
    width: 50%;
    float:left;
    padding-left:30px;
    box-sizing: border-box;

    overflow: hidden;
}
.list{
    width: 100%;
    height: 60px;

    margin-bottom: 60px;

}
.list-box{
    width: 60px;
    height: 60px;
    background:#F6F6F6;
    text-align: center;
    line-height: 60px;
    float: left;
    overflow: hidden;


}
.icon1{
    font-size: 36px;
    font-family: 'iconfont';
    color: #55575D;
}
.dizhi{
    width: 70%;
    height: 60px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    line-height: 40px;

}